<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-xl-12 col-md-12 text-center">
      <h1 class="h4 text-danger"><i class="fas fa-exclamation-circle"></i>&nbsp;&nbsp;Suspicious IP Addresses</h1>
    </div>
  </div>


  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                Total :&nbsp;<i class="fas fa-exclamation-circle fa-2x text-danger float-right"></i></div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ list?.length }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- Content Row -->

  <div class="row">
    <div class="col-md-10">
      <div class="card shadow mb-4">
        <div class="card-header bg-info py-3">
          <h6 class="m-0 font-weight-bold text-white p-text-uppercase">Addresses List</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover" width="100%" cellspacing="0">
              <thead class="bg-light p-text-center">
              <tr>
                <th></th>
                <th>IP Address</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of list">
                <td>
                  <i class="fas fa-exclamation-circle fa-sm text-danger text-gray-300"></i>
                </td>

                <td>{{ item.address }}</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>
<!-- /.container-fluid -->
