<div class="container-fluid">

  <!-- Page Heading
  <h1 class="h3 mb-2 text-gray-400">Network Traffic</h1>
  -->
  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-7 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Network Bandwidth</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <p-chart type="line" [data]="bandwidths" [options]="options1" height="15rem"></p-chart>
          </div>
          <div class="chart-area">
            <h5 class="float-left">Bandwidth = {{actualBandwidths[29]<1000 ? actualBandwidths[29]+' Ko/s' : (actualBandwidths[29]/1000).toFixed(2)+' Mo/s'}}</h5>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Network Bandwidth Details (Ko/s)</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <p-chart type="line" [data]="basicData" [options]="options1" height="15rem"></p-chart>
          </div>
        </div>
      </div>


    </div>

    <!-- Pie Chart -->
    <div class="col-xl-5 col-lg-5"><div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Data By IP ({{ default }})</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <p-chart type="doughnut" [data]="consumptionByIP" [options]="options2" height="15rem"></p-chart>
        </div>
      </div>
    </div>

      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Bandwidth details by IP</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <p-chart type="pie" [data]="bandwidthByIP" [options]="options3" height="12rem"></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
