<div class="p-panel">
  <div>

  </div>
  <div class="p-panel-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          IP Source
        </div>
        <div class="col-sm-8">
          {{frame.ip_src}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          IP Destination
        </div>
        <div class="col-sm-8">
          {{frame.ip_dst}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          @Mac Source
        </div>
        <div class="col-sm-8">
          {{frame.mac_src}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          @Mac Destination
        </div>
        <div class="col-sm-8">
          {{frame.mac_dst}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Eth type
        </div>
        <div class="col-sm-8">
          {{frame.frame_type}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Protocol
        </div>
        <div class="col-sm-8">
          {{frame.protocol}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Flags
        </div>
        <div class="col-sm-8">
          <p>
            {{frame.flags}}&nbsp;
          </p>

        </div>
      </div>
    </div>
  </div>

</div>
