<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" role="button" routerLink="/">
    <img src="assets/logos/knet1.svg" alt="logo" class="img-fluid" style="height: 50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-success" role="button" routerLink="/auth/login"><i class="pi pi-unlock"></i> login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" routerLink="/auth/register">register</a>
      </li>
    </ul>
  </div>
</nav>
