<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="card shadow-lg" style="width:350px">
    <div class="card-header bg-light">
        <h4 class="card-title text-info"><i class="fas fa-sign-in-alt mr-3"></i>Login</h4>
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <input type="text" class="form-control" placeholder="Username" formControlName="username">
        <span class="text-danger" *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
          username required
        </span>
      </div>
      <br>
      <div class="col-md-12">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        <span class="text-danger" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          password required
        </span>
      </div>
      <br>
      <div class="col-md-12">
        <p>Not registered yet ? click <a class="text-success" routerLink="/auth/register">here</a></p>
        <button class="btn btn-sm btn-success" type="submit" [disabled]="!loginForm.valid">login</button>
      </div>
    </div>
  </div>
  <p-toast></p-toast>
</form>
